<div class="modal fade" role="dialog" tabindex="-1" id="booklet-upload-form-modal">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Upload Booklet(s)</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="py-1">
          <%= form_tag({action: :upload_booklets}, multipart: true, remote: true) do %>
            <%= file_field_tag :ifiles, :multiple => true, name: 'files[]', :id => 'booklets-input', required: true%>
            <%= hidden_field_tag "id", @bookleet.id %>
            <div class="row">
              <div class="col d-flex justify-content-end">
                <button class="btn btn-success" type="submit" id="upload_booklets_btn">Upload</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



