<table data-tbc-id="<%= bf.id%>" class=" hide-table table table-bordered tbc-booklet-tables" id="tbc-<%= bf.id%>-booklet-table">
  <thead>
    <tr>
      <th class="max-width">Action</th>
      <th class="max-width">File Name on Case</th>
      <th>Description in Booklet</th>
    </tr>
  </thead>
  <tbody  id="tbc-<%= bf.id%>-booklet-files">
  </tbody>
</table>