<table data-tbc-id="<%= bf.id%>" class=" hide-table table table-bordered tbc-booklet-tables" id="tbc-<%= bf.id%>-booklet-table">
  <thead>
    <tr>
      <th class="max-width">Action</th>
      <th class="max-width">File Name on Case</th>
      <th>Description in Booklet</th>
    </tr>
  </thead>
  <tbody  id="tbc-<%= bf.id%>-booklet-files">
  	<% selected_cat_files = bookleet_selected_files.present? ? bookleet_selected_files[bf.id.to_s] : [] %>
  	<% if selected_cat_files.present? %>
  		<%= render partial: 'bookleets/predefined_booklets', locals: {booklet_files: selected_cat_files.compact.reject(&:empty?)}%>
  	<% end %>
  </tbody>
</table>

