// Place all the styles related to the Bookleets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin-top:20px;
    background:#f8f8f8
}
  
#flipkart-navbar {
	 background-color: darkgray;
	color: #FFFFFF;
}

.row1{
	padding-top: 10px;
	padding-right: 50px;
}

.row2 {
	padding-bottom: 20px;
}
.sidenav-heading{
	font-size: 36px;
	color: #fff;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}