// Place all the styles related to the Bookleets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin-top:20px;
    background:#f8f8f8
}
  
#flipkart-navbar {
	 background-color: darkgray;
	color: #FFFFFF;
}

.row1{
	padding-top: 10px;
	padding-right: 50px;
}

.row2 {
	padding-bottom: 20px;
}
.sidenav-heading{
	font-size: 36px;
	color: #fff;
}