// Place all the styles related to the Tbcs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hide-table {
	display:none;
}

.highlight{
	background-color: skyblue;
}

.grove-border {
	border-style: groove;
}

.main-booklet-area {
	display: inline-block;
}